<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LKWeiBo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4ACF20141E6830D0001F6D7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4ACF20281E6830D0001F6D7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4ACF20331E6830D0001F6D7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
